.about {
    max-width: 1600px;
    div.img-container {
        margin: 0 0 40px 0;
        img.speaking-lady {
            max-width: 500px;
            width: 85%;
            margin: 30px 0 0 20px;
        }
        div.question-mark-container {
            span.big-question-mark {
                display: none;
            }
        }
    }
    section.txt {
        padding: 0 35px;
        h2 {
            font-size: 16px;
            font-weight: 700;
            color: $logo-red;
            margin: 0 0 10px 0;
        }
        h3 {
            font-weight: 700;
            margin: 0 0 25px 0;
            font-size: 30px;
        }
        p {
            font-size: 12px;
            color: $content-txt-color;
            line-height: $line-height-xs;
            margin: 0;
            font-weight: 600;
            max-width: 90%;
        }
    }

}

// Small devices
@media (min-width: 576px) {
    .about {
        div.img-container { 
            img.speaking-lady {
                margin: 30px 0 0 30px;
            }
            div.question-mark-container {
                margin-top: 30px;
                span.big-question-mark {
                    display: inline-block;
                    color: $logo-red;
                    font-size: 120px;
                    font-weight: 700;
                }
            }
        }
        section.txt {
            padding: 0 45px;
        }
    }
 }

 // Medium devices
@media (min-width: 768px) {
    .about {
        padding: $sec-padding-md;
        div.img-container { 
            margin: 0;
            width: 50%;
            img.speaking-lady {
                width: 90%;
                max-width: 720px;
                margin: 0;
            }
            div.question-mark-container {
                span.big-question-mark {
                    display: none;
                }
            }
        }
        section.txt {
            padding: 0;
            width: 50%;
            // h2 {
            //     font-size: 20px;
            // }
            // h3 {
            //     font-size: 48px;
            // }
            // p {
            //     font-size: 18px;
            // }
        }
    }
 }

//  @media (min-width: 992px) { ... }

 @media (min-width: 1200px) {
     .about {
        //  padding: 0 140px;
        section.txt {
            h2 {
                font-size: 20px;
            }
            h3 {
                font-size: 48px;
            }
            p {
                font-size: 18px;
            }
        }
     }
  }

  @media (min-width: 1728px) {
    .about {
        padding: 0;
    }
 }
