.about {
    img.speaking-lady {
        padding: 35px 40px 0 12px;
    }
    h2 {
        font-size: 16px;
        font-weight: 700;
        color: $logo-red;
        padding: $txt-padding-xs;
        margin: 0 0 10px 0;
    }
    h3 {
        padding: $txt-padding-xs;
        font-weight: 700;
        margin: 0 0 25px 0;
        font-size: 30px;
    }
    p {
        padding: $txt-padding-xs;
        font-size: 12px;
        color: $content-txt-color;
        line-height: $line-height-xs;
        margin: 0;
        font-weight: 600;
    }
}