// This section is displayed on md width, over 768px
section.carousel1-tiles {
    padding: 0 60px;
    max-width: 1400px;
    margin: $sec-margin-md;
    padding: $sec-padding-md;
    .row {
        .col-md-6 {
            padding: 25px 25px;
        }
    }
    .item-container {
        max-width: 300px;
        padding: 34px;
        border-radius: 49px;
        @include shadow;
    }       
    .icon {
        margin: 0 0 30px 0;
        width: 30px;
    }
    h2 {
        margin: 0 0 30px 0;
        font-size: 24px;
        font-weight: 700;
        span {
            color: $logo-red;
        }
    }
    p {
        color: $content-txt-color;
        font-weight: 600;
        font-size: 15px;
    }
}

@media(min-width: 992px) {
    section.carousel1-tiles {
        margin: $sec-margin-lg;
        padding: 0 140px;
        .row {
            .col-md-6 {
                padding: 35px 35px;
            }
        }
    }
}

@media(min-width: 1200px) {
    section.carousel1-tiles {
        margin: 150px auto 0 auto;
        padding: 0;
        .item-container {
            width: 100%;
        }
        .row {
            .col-md-6 {
                padding: 0 15px;
                &:first-of-type{
                    padding: 0 15px 0 30px;
                }
                &:last-of-type{
                    padding: 0 30px 0 15px;
                }
            }
        }
    }
}

@media(min-width: 1260px) {
    section.carousel1-tiles {
        padding: 0 50px;
        .row {
            .col-md-6 {
                padding: 0 15px;
                &:first-of-type{
                    padding: 0 15px 0 0; 
                }
                &:last-of-type{
                    padding: 0 0 0 15px;
                }
            }
        }
    }
}

// I'm reseting left end right padding(180px together) in section.is-it-worth-investing-tiles on 1580px, becose I want max-width
// of this section content to be 1400px. Section max-width is set to 1400px so i need to reset padding on 1580px(1580 - 180 = 1400)
@media (min-width: 1580px) {
    section.carousel1-tiles {
        padding: 0;
    }
 }