// This section is displayed on md width, over 768px
section.carousel1-tiles {
    padding: 0 60px;
    max-width: 1400px;
    margin: $sec-margin-md;
    padding: $sec-padding-md;
    .row {
        &:first-of-type {
            margin-bottom: 50px;
        }
        .col {
            padding: 0 25px;
        }
    }
    .item-container {
        max-width: 300px;
        padding: 34px;
        border-radius: 49px;
        @include shadow;
    }       
    .icon {
        margin: 0 0 30px 0;
        width: 30px;
    }
    h2 {
        margin: 0 0 30px 0;
        font-size: 24px;
        font-weight: 700;
        span {
            color: $logo-red;
        }
    }
    p {
        color: $content-txt-color;
        font-weight: 600;
        font-size: 15px;
    }
}

@media(min-width: 992px) {
    section.carousel1-tiles {
        margin: $sec-margin-lg;
        padding: 0 140px;
        .row {
            &:first-of-type {
                margin-bottom: 70px;
            }
            .col {
                padding: 0 35px;
            }
        }
    }
}

@media(min-width: 1200px) {
    section.carousel1-tiles {
        margin: 150px auto 0 auto;
        .row {
            &:first-of-type {
                margin-bottom: 100px;
            }
            .col {
                padding: 0 50px;
            }
        }
    }
}

//1400px is first width that allows set tiles in row
@media(min-width: 1400px) {
    section.carousel1-tiles {
        padding: 0 60px;
        justify-content: space-between!important;
    }
}

// I'm reseting left end right padding(180px together) in section.is-it-worth-investing-tiles on 1580px, becose I want max-width
// of this section content to be 1400px. Section max-width is set to 1400px so i need to reset padding on 1580px(1580 - 180 = 1400)
@media (min-width: 1580px) {
    section.carousel1-tiles {
        padding: 0;
    }
 }