// This section is displayed on md width, over 768px
section.carousel1-tiles {
    padding: 0 60px;
    max-width: 1400px;
    margin: 50px auto 0 auto;
    .item-container {
        height: 400px;
        max-width: 300px;
        padding: 34px;
        border-radius: 49px;
        margin: 0 44px 50px 0;
        // -webkit-box-shadow: 5px 10px 50px 0px rgba(239,239,239,0.75);
        // -moz-box-shadow: 5px 10px 50px 0px rgba(239,239,239,0.75);
        // box-shadow: 5px 10px 50px 0px rgba(239,239,239,0.75);
        // zmiana
        @include shadow;
        &:nth-of-type(2n){
            margin: 0 0 50px 0;
        }
    }       
    .icon {
        margin: 0 0 30px 0;
        width: 30px;
    }
    h2 {
        margin: 0 0 30px 0;
        font-size: 24px;
        font-weight: 700;
        span {
            color: $logo-red;
        }
    }
    p {
        color: $content-txt-color;
        font-weight: 600;
        font-size: 15px;
    }
}

@media(min-width: 992px) {
    section.carousel1-tiles {
        //Im using paddin on section to display two tiles
        //in row below 1400px
        padding: 60px 140px;
        margin: 100px auto 0 auto;
        .item-container { 
            margin: 0 100px 60px 0;
            &:nth-of-type(2n){
                margin: 0 0 100px 0;
            }
        }
    }
}

@media(min-width: 1200px) {
    section.carousel1-tiles {
        margin: 150px auto 0 auto;
        .item-container { 
            margin: 0 150px 100px 0;
            &:nth-of-type(2n){
                margin: 0 0 150px 0;
            }
        }
    }
}

//1400px is first width that allows set tiles in row
@media(min-width: 1400px) {
    section.carousel1-tiles {
        padding: 0 60px;
        justify-content: space-between!important;
        .item-container { 
            margin: 0 0 0 0;
            &:nth-of-type(2n){
                margin: 0 0 0 0;
            }
        }
    }
}

// I'm reseting left end right padding(180px together) in section.is-it-worth-investing-tiles on 1580px, becose I want max-width
// of this section content to be 1400px. Section max-width is set to 1400px so i need to reset padding on 1580px(1580 - 180 = 1400)
@media (min-width: 1580px) {
    section.carousel1-tiles {
        padding: 0;
    }
 }