section.confirm-your-presence {
    margin: $sec-margin-sm;
    max-width: 1400px;
    padding: $sec-padding-sm;
    img {
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 0 0 64px 0;
    }

    section.take-action {
        p {
            font-size: 20px;
            font-weight: 700;
            margin: 0 0 50px 0;
        }
        .buy-a-ticket {
            @include red-button;
        }
    }
}
@media(min-width: 576px) {
    section.confirm-your-presence {
        padding: $sec-padding-sm;
        margin: $sec-margin-sm;
        section.take-action {
            text-align: center;
            p {
                padding: 0 100px;
            }
        }
    } 
}

@media(min-width: 768px) {
    section.confirm-your-presence {
        padding: $sec-padding-md;
        margin: $sec-margin-md;
        // img {
        //     width: 50%;
        // }
    
        section.take-action {
            text-align: left;
            padding: 0 50px 0 0;
            // width: 50%;
            p {
                padding: 0;
            }
            .buy-a-ticket {
                @include red-button;
            }
        }
    }
}

@media(min-width: 992px) {
    section.confirm-your-presence {
        padding: $sec-padding-lg;
        margin: $sec-margin-lg;
    }
}

@media(min-width: 1200px) {
    section.confirm-your-presence {
        section.take-action {
            p {
                font-size: 30px;
                max-width: 600px;
            }
            .buy-a-ticket {
                @include red-button;
            }
        }
    }
}

// I'm reseting left end right padding(180px together) in section.confirm-your-presence on 1580px, becose I want max-width
// of this section content to be 1400px. Section max-width is set to 1400px so i need to reset padding on 1580px(1580 - 180 = 1400)
@media (min-width: 1580px) {
    section.confirm-your-presence {
        padding: 0;
    }
 }