.is-it-worth-investing {
    margin: 40px 0 0 0;
    h2 {
        font-size: 16px;
        font-weight: 700;
        color: $logo-red;
        padding: 0 35px;
        margin: 0 0 10px 0;
    }
    h3 {
        padding: 0 35px;
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 67px 0;
        span {
            color: $logo-red;
        }
    }
    p {
        padding: 0 35px;
        font-size: 12px;
        color: $content-txt-color;
        line-height: $line-height-xs;
        margin: 0;
    }
    ul.why {
        margin-bottom: 0;
        padding: 0 20px 0 43px;
        list-style-image: url(/img/arrow-left.png);
        li {
            font-size: 12px;
            color: $content-txt-color;
            padding: 0 0 0 18px;
            margin: 0 0 43px 0;
            font-weight: 600;
            &:last-of-type {
                margin: 0 0 0 0;
            }
        }
    }
}

// Small devices
@media (min-width: 576px) {
    .is-it-worth-investing {
        margin: 60px 0 0 0;
        h2 {
            padding: 0 45px;
        }
        h3 {
            padding: 0 45px;
        }
        ul.why {
            padding: 0 45px 0 65px;
            li {
                &:last-of-type {
                }
            }
        }
    }
}

// Medium devices
@media (min-width: 768px) {
    .is-it-worth-investing {
        h2 {
            padding: 0 45px;
        }
        h3 {
            padding: 0 45px;
        }
        ul.why {
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            padding: 0 45px 0 65px;
            li {
                width: calc(100%/2);
                &:last-of-type {
                }
            }
        }
    }
}

// Large devices
@media (min-width: 992px) {
    .is-it-worth-investing {
        h2 {
            padding: 0 45px;
        }
        h3 {
            padding: 0 45px;
        }
        ul.why {
            padding: 0 45px 0 65px;
            li {
                width: calc(100%/3);
                &:last-of-type {
                }
            }
        }
    }
}