.is-it-worth-investing {
    margin: 40px 0 0 0;
    max-width: 1600px;
    h2 {
        font-size: 16px;
        font-weight: 700;
        color: $logo-red;
        padding: 0 35px;
        margin: 0 0 10px 0;
    }
    h3 {
        padding: 0 35px;
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 67px 0;
        span {
            color: $logo-red;
        }
    }
    p {
        padding: 0 35px;
        font-size: 12px;
        color: $content-txt-color;
        line-height: $line-height-xs;
        margin: 0;
    }
    ul.why {
        margin-bottom: 0;
        padding: 0 20px 0 43px;
        list-style-image: url(/img/arrow-left.png);
        li {
            font-size: 12px;
            color: $content-txt-color;
            padding: 0 0 0 18px;
            margin: 0 0 43px 0;
            font-weight: 600;
            &:last-of-type {
                margin: 0 0 0 0;
            }
        }
    }
}

// Small devices
@media (min-width: 576px) {
    .is-it-worth-investing {
        margin: 60px 0 0 0;
        h2 {
            padding: 0 45px;
        }
        h3 {
            padding: 0 45px;
        }
        ul.why {
            padding: 0 45px 0 65px;
        }
    }
}

// Medium devices
@media (min-width: 768px) {
    .is-it-worth-investing {
        h2 {
            padding: 0 45px;
        }
        h3 {
            padding: 0 45px;
        }
        ul.why {
            padding: 0 45px 0 65px;
            li {
                // width: calc(100%/2);
                width: 46%;
                &:nth-child(2n+1){
                    margin: 0 8% 43px 0;
                }
            }
        }
    }
}

// Large devices
@media (min-width: 992px) {
    .is-it-worth-investing {
        h2 {
            padding: 0 45px;
        }
        h3 {
            padding: 0 45px;
        }
        ul.why {
            padding: 0 45px 0 65px;

            li {
                // width: calc(100%/2);
                width: 29%;
                margin: 0 5% 43px 0;
                // I need to use 2n+1 selector and set margin for li with it,
                // otherwise it isn't working becose of CSS cascading.
                &:nth-child(2n+1){
                    margin: 0 5% 43px 0;
                }
                // I'm setting 3n selector, to set right margin of li, in third column to 0.
                &:nth-child(3n){
                    margin: 0 0 43px 0;
                }

            }
        }
    }
}

// XL devices
@media (min-width: 1200px) {
    .is-it-worth-investing {
        h2 {
            font-size: $h2-lg;
        }
        h3 {
            font-size: $h3-lg;
        }
        ul.why {
            li {
                font-size: 18px;
            }
        }
    }
}