section.join-today {
    margin: $sec-margin-sm;
    padding: $sec-padding-sm;
    max-width: 1400px;
    img.envelope-img {
        width: 100%;
        max-width: 550px;
        margin: 0 0 40px 0;
    }
    section.take-action {
        text-align: center;
    }
    h2 {
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 40px 0;
    }
    .buy-a-ticket {
        @include red-button;
    }
}

@media (min-width: 576px){
    section.join-today {
        margin: $sec-margin-sm;
        padding: $sec-padding-sm;
    }
}

@media (min-width: 768px){
    section.join-today {
        padding: $sec-padding-md;
        margin: 50px 0 0 0;
        img.envelope-img {
            margin: 0 0 0 0;
            max-width: initial;
        }

        section.take-action {
            margin: 0 0 0 0;
            text-align: left;
            padding: 0 0 0 0;
            width: 300px;
        }
        div.col-md-6:nth-of-type(2) {
            padding-left: 5%;
        }
    }
}

@media (min-width: 992px){
    section.join-today {
        margin: 100px 0 0 0;
        padding: $sec-padding-lg;
        section.take-action {
            .first-day {
                // margin: 0 35px 35px 0;
            }
        }
    }
}
@media(min-width: 1200px) {
    section.join-today {
        img.envelope-img {
        }
        section.take-action {
            width: auto;
            max-width: 545px;
            h2 {
                font-size: $h2-xl;
            }
        }
    }
}

// I'm reseting left end right padding(180px together) in section.join-today on 1580px, becose I want max-width
// of this section content to be 1400px. Section max-width is set to 1400px so i need to reset padding on 1580px(1580 - 180 = 1400)
@media (min-width: 1580px) {
    section.join-today {
        padding: 0;
    }
 }