.navbar {
    padding: 25px 10px 25px 22px;
    max-width: 1600px;
    .navbar-toggler {
        border: none;
        outline: none;
    }
    .navbar-collapse {
        ul.navbar-nav {
            // padding: 50px 0 50px 0;
            li a {
                color: #000;
                font-weight: 500;
            }
            li.mta {
                min-width: 112px;
            }
            li.buy-ticket {
                margin: 50px 0 0 0;
                min-width: 115px;
            }
            li.buy-ticket {
                .buy-a-ticket {
                    @include red-button;
                    padding: 8px 40px;
                }
            }
        }
    }
}

//////////////hamburger styles/////////////
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: $logo-red;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  outline: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
   
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
   
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
   
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
   
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
   
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }

/* /////////////////////////////////////@media///////////////////////////////// */
@media (min-width: 576px) {
    .navbar {
        //padding is smaler on right, becouse hamburger have own.
        padding: 25px 30px 25px 42px;
    }
}

@media (min-width: 768px) { 
    .navbar {
        padding: 25px 60px 25px 72px;
    }    
 }
 @media (min-width: 992px) { 
    .navbar {
        padding: 25px 72px 25px 72px;
        .navbar-collapse {
            ul.navbar-nav {
                li.buy-ticket {
                    margin: 0 0 0 30px;
                }
            }
        }
    }
 }


@media (min-width: 1200px) { 
    .navbar {
        padding: 36px 72px 36px 72px;
        .navbar-collapse {
            ul.navbar-nav {
                li.buy-ticket {
                    margin: 0 0 0 100px;
                }
            }
        }
    }
}

@media (min-width: 1500px) { 
    .navbar {
        .navbar-nav {
            font-size: 20px;
        }
        .navbar-collapse {
            ul.navbar-nav {
                li.buy-ticket {
                    margin: 0 0 0 150px;
                }
            }
        }
    }
}

//min-width is set to 1918px(on this width max-width of .navbar is applay),
//becouse max-width of .navbar is 1638px and left + right padding = 280px

@media (min-width: 1918px) { 
    .navbar {
        padding: 50px 0 50px 0;
        //mayby ?
        // padding: 36px 72px 36px 72px;
    }
}

