section.next-edition-schedule {
    margin: 0 0 100px 0;
    img.schedule {
        width: 100%;
        padding: 20px;
        margin: 0 0 50px;
    }
    section.action {
        padding: 0 35px;
        h2 {
            @include section-h2;
        }
        h3 {
            @include section-h3;
            margin: 0 0 30px 0;
        }
        .first-day {
            @include red-button;
            margin: 0 0 35px 0;
            // padding: 14px 0;
            width: 220px;
        }
        .second-day {
            @include white-button-with-red-border;
            width: 220px;
        }
    }
}

@media(min-width: 1200px) {
    section.next-edition-schedule {
        section.action {
            h2 {
                font-size: $h2-lg;
            }
            h3 {
                font-size: $h3-lg;
            }
            
        }
    }
}