section.next-edition-schedule {
    margin: $sec-margin-sm;
    padding: $sec-padding-sm;
    max-width: 1400px;
    img.schedule {
        display: block;
        max-width: 550px;
        margin: 0 0 64px 0;
        width: 100%;
    }
    section.take-action {
        h2 {
            @include section-h2;
        }
        h3 {
            @include section-h3;
            margin: 0 0 30px 0;
        }
        .first-day {
            @include red-button;
            margin: 0 20px 20px 0;
        }
        .second-day {
            @include white-button-with-red-border;
            width: 171px;
        }
    }
}

@media (min-width: 576px){
    section.next-edition-schedule {
        margin: $sec-margin-sm;
        padding: $sec-padding-sm;
    }
}

@media (min-width: 768px){
    section.next-edition-schedule {
        padding: $sec-padding-md;
        margin: $sec-margin-md;
        .container-fluid {
            .row {
                div img.schedule {
                    margin: 0;
                    max-width: initial;
                }
                div.col-take-action {
                    padding: 0 50px 0 0;
                    section.take-action {
                        text-align: left;
                        padding: 0 0 0 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px){
    section.next-edition-schedule {
        margin: $sec-margin-lg;
        padding: $sec-padding-lg;
    }
}

@media(min-width: 1200px) {
    section.next-edition-schedule {
        section.take-action {
            h2 {
                font-size: $h2-lg;
            }
            h3 {
                font-size: $h3-lg;
                margin: 0 0 50px 0;
            }
            nav.buttons {
                button {
                    margin-bottom: 0;
                }
            }
        }
    }
}

// I'm reseting left end right padding(180px together) in section.next-edition-schedule on 1580px, becose I want max-width
// of this section content to be 1400px. Section max-width is set to 1400px so i need to reset padding on 1580px(1580 - 180 = 1400)
@media (min-width: 1580px) {
    section.next-edition-schedule {
        padding: 0;
    }
 }