section.opinions-md {
    padding: $sec-padding-sm;
    margin: $sec-margin-sm;
    max-width: 1400px;

    div.heading {
        width: 300px;
        // margin: 0 40px 40px 0;
        padding: 130px 0 0 34px;
        h2 {
            @include section-h2;
        }
        h3 {
            @include section-h3;
            margin: 0 0 30px 0;
        }
    }

    // .opinions-md-item::nth-child(2n) {
    //     margin: 0 50px 50px 0;
    // }

    .opinions-md-item {
        height: 450px;
        max-width: 300px;
        padding: 34px;
        border-radius: 49px;
        margin: 0 0 30px 0;
        // -webkit-box-shadow: 5px 10px 50px 0px rgba(239,239,239,0.75);
        // -moz-box-shadow: 5px 10px 50px 0px rgba(239,239,239,0.75);
        // box-shadow: 5px 10px 50px 0px rgba(239,239,239,0.75);
        // zmiana
        @include shadow;
        .icon {
            margin: 0 0 30px 0;
            width: 60px;
        }
        span.person-name {
            display: block;
            margin: 0 0 5px 0;
            font-size: 24px;
            font-weight: 700;
        }
        span.company-name {
            display: block;
            color: $logo-red;
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 30px;
        }
        p {
            color: #7B7B7B;
            font-weight: 600;
            font-size: 15px;
        }
    }  
}


@media(min-width: 768px) {
    section.opinions-md {
        padding: $sec-padding-md;
        margin: $sec-margin-md;
        div.container-fluid {
            max-width: 650px;
            div.row {
                .col-md-6 {
                    padding-right: 27px;
                    padding-left: 27px;
                }
            }

        }
        .opinions-md-item {
            margin: 0 0 55px 0; 
        }
    }
}

@media(min-width: 992px) {
    section.opinions-md {
        padding: $sec-padding-lg;
        margin: $sec-margin-lg;
        div.heading {
            margin: 0 0 30px 0;
            padding: 130px 0 0 34px;
            h2 {
                @include section-h2;
            }
            h3 {
                @include section-h3;
                margin: 0 0 30px 0;
            }
        }
        .opinions-md-item {
            margin: 0 0 55px 0; 
        }
    }
}

@media(min-width: 1200px) {
    section.opinions-md {
        div.container-fluid {
            max-width: 1400px;
            div.row {
                .col-md-6:nth-of-type(4) {
                    position: relative;
                    bottom: 250px;
                }
                .col-md-6:nth-of-type(7) {
                    position: relative;
                    bottom: 250px;
                }
                .col-md-6:nth-of-type(3) {
                    position: relative;
                    top: 250px;
                }
                .col-md-6:nth-of-type(6) {
                    position: relative;
                    top: 250px;
                }
            }
        }
        div.heading {
            padding: 0; 
            h2 {
                font-size: $h2-lg;
            }
            h3 {
                font-size: $h3-lg;
            }
        }
        .opinions-md-item {
            margin: 0 0 19% 0; 
        }

    }
}

// I'm reseting left end right padding(180px together) in section.next-edition-schedule on 1580px, becose I want max-width
// of this section content to be 1400px. Section max-width is set to 1400px so i need to reset padding on 1580px(1580 - 180 = 1400)
// @media (min-width: 1580px) {
//     section.opinions-md {
//         padding: 0;
//     }
//  }