.side-nav {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    a {
        padding: 10px 30px;
        height: 60px;
        img {
            width: 22px;
        }
        &:hover {
            padding: 10px 27px;
            img {
                width: 28px;
            }
        }
    }
}

@media(min-width: 1460px) {
    .side-nav {
        position: fixed;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        a {
            padding: 10px 30px;
            img {
                width: 22px;
            }
        }
    }
}