section.sponsors {
    padding: $sec-padding-sm;
    margin: $sec-margin-sm;
    max-width: 1400px;
    div.heading {
        h2 {
            @include section-h2;
        }
        h3 {
            @include section-h3;
            margin: 0 0 50px 0;
            span {
                font-size: 30px;
            }
        }
    }
    span {
        color: $logo-red;
        font-size: 14px;
        font-weight: 600;
        line-height: 2.1;
    }
    .logo-container {
        border-radius: 100%;
        @include shadow;

    }
    .gold-organizer-row {
        span {
            margin: 0 0 60px 0;
        }
        .col-sm-12 {
            margin: 0 0 90px 0;
        }
    }
    section.gold-sponsor {
        .santander-logo-container {
            width: 290px;
            height: 290px;
            img {
                width: 284px;
            }
        }
    }
    section.organizer {
        .organizer-logo-container {
            width: 250px;
            height: 250px;
            img {
                width: 135px;
            }
        }
    }
    section.rest-of-sponsors {
        margin: 0 0 100px 0;
        span {
            display: block;
            margin: 0 0 60px 0;
        }
        .sponsor-logo-container {
            width: 185px;
            height: 185px;
            img {
                width: 115px;
            }
        }
        .row .col-sm-12 {
            margin: 0 0 45px 0;
        }
    }
    section.logo-triangle-layout {
        margin: 0 0 100px 0;
        span {
            display: block;
            margin: 0 0 60px 0;
        }
        div.row {
            .col {
                padding-right: 5px;
                padding-left: 5px;
                .patron-logo-container {
                    width: 125px;
                    height: 125px;
                    margin: 0 0 50px 0;
                    img {
                        width: 85px;
                    }
                }
            }
            .second-col {
                padding-top: 85px;
            } 
        }
    }
}

@media(min-width: 576px) {
    section.sponsors {
        margin: $sec-margin-sm;
        padding: $sec-padding-sm;
    }
}
@media(min-width: 768px) {
    section.sponsors {
        margin: $sec-margin-md;
        padding: $sec-padding-md;
        section.rest-of-sponsors {
            .row .col-sm-12 {
                margin: 0 0 30px 0;
                max-width: 225px;
            }
        }
    }
}

@media(min-width: 992px) {
    section.sponsors {
        margin: 150px 0 150px 0;
        padding: $sec-padding-lg;
        div.heading {
             h3 {
                font-size: 30px;
                font-weight: 700;
                margin: 0 0 80px 0;
            }
        }
        section.gold-sponsor {
            width: 340px;
        }
        section.organizer {
            span {
                position: relative;
                bottom: 19px;
                width: 300px;
            }
        }
        .gold-organizer-row {
            .col-sm-12 {
                margin: 0 0 100px 0;
            }
            span {
                margin: 0 0 30px 0;
            }
        }
        .lg-row {
            .col {
                height: 250px;
                .logo-container {
                    margin: 0!important;
                }
            }
        }
        .media-partners.logo-triangle-layout {
            margin: 0 0 0 0;
            .lg-row {
                .col {
                    height: 200px;
                }
            }
            // every next row should be positioned 40px more than one before
            .second-row {
                position: relative;
                bottom: 40px;
            }
            .third-row {
                position: relative;
                bottom: 80px;
            }
        }
    }
}

@media(min-width: 1200px) {
    section.sponsors {
        div.heading {
            h2 {
                font-size: $h2-lg;
            }
            h3 {
                font-size: $h3-lg;
                margin: 0 0 120px 0;
            }
        }
        span {
            font-size: 20px;
        }
        .gold-sponsor-col {
            padding: 0 47px 0 0;
            section.gold-sponsor {
                .logo-container {
                    width: 390px;
                    height: 390px;
                }
            }
        }
        section.gold-sponsor {
            width: 440px;
        }
        section.organizer {
            width: 380px;
        }
        section.organizer span {
            bottom: 30px;
        }
        .organizer-col {
            padding: 0 0 0 47px;
            section.organizer {
                .logo-container {
                    width: 330px;
                    height: 330px;
                }
            }
        }
        section.rest-of-sponsors {
            .row .col-sm-12 {
                margin: 0 0 30px 0;
                max-width: 310px;
            }
            .sponsor-logo-container {
                width: 265px;
                height: 265px;
            }
        }
    } 
}