section.they-will-perform {
    margin: 0 0 100px 0;
    // padding: 0 35px;
    div.heading {
    padding: 0 35px;
    margin: 0 0 62px 0;
        h2 {
            @include section-h2;
        }
        p {
            @include section-first-p;
            margin: 0;
        }
    }

    .carousel-2 {
        padding: 0 50px;
        a.carousel-control-prev {
            height: 75%;
        }
        a.carousel-control-next {
            height: 75%;
        }
        .carousel-control-next-icon {
            background-image: url('/img/arrow-rightx2.png');
            width: 12px;
         }
         .carousel-control-prev-icon {
             background-image: url('/img/arrow-point-to-left\ \(2\).png');
             width: 12px;
         }
        .carousel-item {
            img {
                width: 100%;
                margin: 0 0 27px 0;
                max-width: 340px;
            }
            .person-name {
                font-size: 17px;
                font-weight: 700;
            }
            .company-name {
                font-size: 12px;
                color: $logo-red;
                font-weight: 600;
                margin: 0 0 33px 0;
            }
        }
    }
    .see-everyone {
        @include red-button;
    }

}