section.year-ago-video {
    margin: 0 0 100px 0;
    padding: 0 35px;
    max-width: 1360px;
    div.heading {
        h2 {
            @include section-h2;
        }
        h3 {
            @include section-h3;
            margin: 0 0 30px 0;
        }
    }
    img {
        width: 100%;
    }
}

// Small devices
@media (min-width: 576px) {
    section.year-ago-video {
        padding: $sec-padding-md;
    }
}

// Medium devices
@media (min-width: 768px) {
    section.year-ago-video {
        padding: $sec-padding-md;
    }
}

@media(min-width: 1200px) {
    section.year-ago-video {
        div.heading {
            h2 {
                font-size: $h2-lg;
            }
            h3 {
                font-size: $h3-lg;
            }
        }
    }
}