section.year-ago-pictures {
    margin: 0 0 100px 0;
    // padding: $sec-padding-sm;
    margin: $sec-margin-sm;
    div.heading {
        padding: 0 35px;
        h2 {
            @include section-h2;
        }
        h3 {
            @include section-h3;
        }
    }
    div.carousel-4 {
        div.carousel-inner {
            div.carousel-item {
                img {
                    max-width: 100%;
                }
            }
        }
        a.carousel-control-prev {
            @include carousel-control-prev-a;
        }
        a.carousel-control-next {
            @include carousel-control-next-a;
        }
    }
}

@media (min-width: 576px) {
    section.year-ago-pictures {
        margin: $sec-margin-sm;
    }
}
@media (min-width: 768px) {
    section.year-ago-pictures {
        margin: $sec-margin-md;
    }
}
@media (min-width: 992px) {
    section.year-ago-pictures {
        margin: $sec-margin-lg;
    }
}

@media(min-width: 1200px) {
    section.year-ago-pictures {
        div.heading {
            h2 {
                font-size: $h2-lg;
            }
            h3 {
                font-size: $h3-lg;
            }
        }
    }
}