section.year-ago-pictures {
    margin: 0 0 100px 0;
    div.heading {
        padding: 0 35px;
        h2 {
            @include section-h2;
        }
        p {
            @include section-first-p;
        }
    }
    div.carousel-4 {
        div.carousel-inner {
            div.carousel-item {
                img {
                    max-width: 100%;
                }
            }
        }
        a.carousel-control-prev {
            @include carousel-control-prev-a;
        }
        a.carousel-control-next {
            @include carousel-control-next-a;
        }
    }
}