section.year-ago-video {
    margin: $sec-margin-sm;
    padding: $sec-padding-sm;
    max-width: 1360px;
    div.heading {
        h2 {
            @include section-h2;
        }
        h3 {
            @include section-h3;
            margin: 0 0 30px 0;
        }
    }
    img {
        width: 100%;
    }
}

// Small devices
@media (min-width: 576px) {
    section.year-ago-video {
        padding: $sec-padding-sm;
        margin: $sec-margin-sm;

    }
}

// Medium devices
@media (min-width: 768px) {
    section.year-ago-video {
        padding: $sec-padding-lg;
        margin: $sec-margin-md;

    }
}

@media(min-width: 1200px) {
    section.year-ago-video {
        padding: $sec-padding-lg;
        margin: $sec-margin-lg;

        div.heading {
            h2 {
                font-size: $h2-lg;
            }
            h3 {
                font-size: $h3-lg;
            }
        }
    }
}

// I'm reseting left end right padding(180px together) in section.year-ago-video on 1580px, becose I want max-width
// of this section content to be 1400px. Section max-width is set to 1400px so i need to reset padding on 1580px(1580 - 180 = 1400)
@media (min-width: 1580px) {
    section.year-ago-video {
        padding: 0;
    }
 }