.navbar {
  padding: 25px 10px 25px 22px;
  max-width: 1638px; }
  .navbar .navbar-toggler {
    border: none;
    outline: none; }
  .navbar .navbar-collapse ul.navbar-nav li a {
    color: #000; }
  .navbar .navbar-collapse ul.navbar-nav li.mta {
    min-width: 112px; }
  .navbar .navbar-collapse ul.navbar-nav li.buy-ticket {
    margin: 50px 0 0 0;
    min-width: 115px; }
  .navbar .navbar-collapse ul.navbar-nav li.buy-ticket a {
    padding: 5px 25px;
    color: #fff;
    background: #EF3024;
    border-radius: 100px;
    font-weight: 500; }

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #EF3024;
  display: block;
  transition: all 0.2s;
  margin-top: 4px; }

.navbar-toggler {
  border: none;
  outline: none;
  background: transparent !important; }

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%; }

.navbar-toggler .middle-bar {
  opacity: 0; }

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%; }

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0); }

.navbar-toggler.collapsed .middle-bar {
  opacity: 1; }

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0); }

/* /////////////////////////////////////@media///////////////////////////////// */
@media (min-width: 576px) {
  .navbar {
    padding: 25px 30px 25px 42px; } }
@media (min-width: 768px) {
  .navbar {
    padding: 25px 60px 25px 72px; } }
@media (min-width: 992px) {
  .navbar {
    padding: 25px 72px 25px 72px; }
    .navbar .navbar-collapse ul.navbar-nav li.buy-ticket {
      margin: 0 0 0 30px; } }
@media (min-width: 1200px) {
  .navbar {
    padding: 36px 72px 36px 72px; }
    .navbar .navbar-collapse ul.navbar-nav li.buy-ticket {
      margin: 0 0 0 150px; } }
@media (min-width: 1918px) {
  .navbar {
    padding: 50px 0 50px 0; } }
.site-header {
  height: 545px;
  max-width: 1638px;
  background-image: url("/img/header-background.png");
  background-position: 89% 50%;
  background-repeat: no-repeat;
  padding: 0;
  position: relative; }
  .site-header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #EF3024, transparent); }
  .site-header h1 {
    padding: 30px 30px 0 30px;
    margin: 0;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 300;
    padding: 30px;
    position: relative;
    z-index: 100; }
  .site-header .place-date {
    background: #FFFFFF;
    width: 305px;
    height: 103px;
    position: relative;
    z-index: 100; }
    .site-header .place-date span {
      color: #EF3024;
      display: block;
      font-size: 12px;
      width: 215px; }
    .site-header .place-date time {
      font-size: 26px;
      font-weight: 700; }
      .site-header .place-date time span {
        display: initial;
        color: #EF3024;
        font-size: 24px; }

/* /////////////////////////////////////@media///////////////////////////////// */
@media (min-width: 480px) {
  .site-header h1 {
    padding: 75px 30px 30px 30px; } }
@media (min-width: 768px) {
  .site-header h1 {
    padding: 30px 30px 0 72px;
    width: auto;
    font-size: 26px; }
  .site-header .place-date {
    background: #FFFFFF;
    width: 362px; } }
* {
  font-family: 'Poppins', sans-serif; }

/*# sourceMappingURL=main.css.map */
