.site-header {
  height: 545px;
  max-width: 1600px;
  background-image: url("/img/header-background.png");
  background-position: 89% 50%;
  background-repeat: no-repeat;
  padding: 0;
  position: relative; }
  .site-header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #EF3024, transparent); }
  .site-header h1 {
    padding: 30px 30px 0 30px;
    margin: 0;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 700;
    padding: 30px;
    position: relative;
    z-index: 100;
    text-transform: uppercase; }
  .site-header .place-date {
    background: #FFFFFF;
    width: 332px;
    height: 103px;
    position: relative;
    top: 1px;
    z-index: 100; }
    .site-header .place-date span {
      color: #EF3024;
      display: block;
      font-size: 12px;
      width: 238px; }
    .site-header .place-date time {
      font-size: 22px;
      font-weight: 700; }
      .site-header .place-date time span {
        display: initial;
        color: #EF3024;
        font-size: 24px; }

/* /////////////////////////////////////@media///////////////////////////////// */
@media (min-width: 480px) {
  .site-header {
    margin: 0 0 10px 0; }
    .site-header h1 {
      padding: 75px 30px 30px 30px; } }
@media (min-width: 578px) {
  .site-header {
    margin: 0 0 30px 0; } }
@media (min-width: 768px) {
  .site-header {
    margin: 0 0 60px 0; }
    .site-header h1 {
      padding: 30px 30px 0 72px;
      width: auto;
      font-size: 26px; }
    .site-header .place-date {
      background: #FFFFFF;
      width: 362px; } }
@media (min-width: 992px) {
  .site-header {
    margin: 0 0 90px 0; } }
@media (min-width: 1200px) {
  .site-header {
    height: 600px;
    margin: 0 0 150px 0; }
    .site-header h1 {
      font-size: 38px; }
    .site-header .place-date {
      width: 416px;
      height: 190px;
      position: relative;
      top: 112px; } }
.navbar {
  padding: 25px 10px 25px 22px;
  max-width: 1600px; }
  .navbar .navbar-toggler {
    border: none;
    outline: none; }
  .navbar .navbar-collapse ul.navbar-nav li a {
    color: #000;
    font-weight: 500; }
  .navbar .navbar-collapse ul.navbar-nav li.mta {
    min-width: 112px; }
  .navbar .navbar-collapse ul.navbar-nav li.buy-ticket {
    margin: 50px 0 0 0;
    min-width: 115px; }
  .navbar .navbar-collapse ul.navbar-nav li.buy-ticket .buy-a-ticket {
    margin: 0;
    border: 3px solid #EF3024;
    background: #EF3024;
    text-align: center;
    color: #fff;
    padding: 11px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    transition: all ease-in-out 0.2s;
    padding: 8px 40px; }
    .navbar .navbar-collapse ul.navbar-nav li.buy-ticket .buy-a-ticket:hover, .navbar .navbar-collapse ul.navbar-nav li.buy-ticket .buy-a-ticket:active {
      border: 3px solid #EF3024;
      background: #FFFFFF;
      color: #EF3024;
      outline: none; }

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #EF3024;
  display: block;
  transition: all 0.2s;
  margin-top: 4px; }

.navbar-toggler {
  border: none;
  outline: none;
  background: transparent !important; }

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%; }

.navbar-toggler .middle-bar {
  opacity: 0; }

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%; }

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0); }

.navbar-toggler.collapsed .middle-bar {
  opacity: 1; }

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0); }

/* /////////////////////////////////////@media///////////////////////////////// */
@media (min-width: 576px) {
  .navbar {
    padding: 25px 30px 25px 42px; } }
@media (min-width: 768px) {
  .navbar {
    padding: 25px 60px 25px 72px; } }
@media (min-width: 992px) {
  .navbar {
    padding: 25px 72px 25px 72px; }
    .navbar .navbar-collapse ul.navbar-nav li.buy-ticket {
      margin: 0 0 0 30px; } }
@media (min-width: 1200px) {
  .navbar {
    padding: 36px 72px 36px 72px; }
    .navbar .navbar-collapse ul.navbar-nav li.buy-ticket {
      margin: 0 0 0 100px; } }
@media (min-width: 1500px) {
  .navbar .navbar-nav {
    font-size: 20px; }
  .navbar .navbar-collapse ul.navbar-nav li.buy-ticket {
    margin: 0 0 0 150px; } }
@media (min-width: 1918px) {
  .navbar {
    padding: 50px 0 50px 0; } }
.about {
  max-width: 1400px;
  padding: 0 35px;
  margin: 50px 0 0 0; }
  .about div.img-container {
    margin: 0 0 40px 0; }
    .about div.img-container img.speaking-lady {
      max-width: 500px;
      width: 85%; }
    .about div.img-container div.question-mark-container span.big-question-mark {
      display: none; }
  .about section.txt h2 {
    font-size: 16px;
    font-weight: 700;
    color: #EF3024;
    margin: 0 0 10px 0; }
  .about section.txt h3 {
    font-weight: 700;
    margin: 0 0 25px 0;
    font-size: 30px; }
  .about section.txt p {
    font-size: 12px;
    color: #7B7B7B;
    line-height: 2.5;
    margin: 0;
    font-weight: 600; }

@media (min-width: 576px) {
  .about {
    padding: 0 35px;
    margin: 50px 0 0 0; }
    .about div.img-container div.question-mark-container {
      margin-top: 30px; }
      .about div.img-container div.question-mark-container span.big-question-mark {
        display: inline-block;
        color: #EF3024;
        font-size: 120px;
        font-weight: 700; } }
@media (min-width: 768px) {
  .about {
    padding: 0 60px;
    margin: 100px 0 0 0; }
    .about div.img-container {
      margin: 0; }
      .about div.img-container img.speaking-lady {
        width: 90%;
        max-width: 720px;
        margin: 0; }
      .about div.img-container div.question-mark-container span.big-question-mark {
        display: none; }
    .about section.txt {
      padding: 0; } }
@media (min-width: 992px) {
  .about {
    padding: 0 90px;
    margin: 150px 0 0 0; } }
@media (min-width: 1200px) {
  .about section.txt h2 {
    font-size: 20px; }
  .about section.txt h3 {
    font-size: 48px; }
  .about section.txt p {
    font-size: 18px; } }
@media (min-width: 1580px) {
  .about {
    padding: 0; } }
.is-it-worth-investing {
  margin: 50px 0 0 0;
  padding: 0 35px;
  max-width: 1400px; }
  .is-it-worth-investing h2 {
    font-size: 16px;
    font-weight: 700;
    color: #EF3024;
    margin: 0 0 10px 0; }
  .is-it-worth-investing h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 67px 0; }
    .is-it-worth-investing h3 span {
      color: #EF3024; }
  .is-it-worth-investing p {
    font-size: 12px;
    color: #7B7B7B;
    line-height: 2.5;
    margin: 0; }
  .is-it-worth-investing ul.why {
    margin-bottom: 0;
    padding: 0 0 0 20px;
    list-style-image: url(/img/arrow-left.png); }
    .is-it-worth-investing ul.why .row div.col-sm-12 {
      margin: 0 0 43px 0;
      padding-right: 30px; }
      .is-it-worth-investing ul.why .row div.col-sm-12:last-of-type {
        margin: 0; }
    .is-it-worth-investing ul.why li {
      font-size: 12px;
      color: #7B7B7B;
      padding: 0 0 0 18px;
      margin: 0 0 43px 0;
      font-weight: 600; }
      .is-it-worth-investing ul.why li:last-of-type {
        margin: 0 0 0 0; }

@media (min-width: 576px) {
  .is-it-worth-investing {
    padding: 0 35px;
    margin: 50px 0 0 0; } }
@media (min-width: 768px) {
  .is-it-worth-investing {
    padding: 0 60px;
    margin: 100px 0 0 0; } }
@media (min-width: 992px) {
  .is-it-worth-investing {
    padding: 0 90px;
    margin: 150px 0 0 0; } }
@media (min-width: 1200px) {
  .is-it-worth-investing h2 {
    font-size: 20px; }
  .is-it-worth-investing h3 {
    font-size: 48px; }
  .is-it-worth-investing ul.why li {
    font-size: 18px; } }
@media (min-width: 1580px) {
  .is-it-worth-investing {
    padding: 0; } }
section.carousel-1-section {
  margin: 50px 0 0 0; }
  section.carousel-1-section .carousel-1 .carousel-control-next-icon {
    background-image: url("/img/arrow-rightx2.png");
    width: 12px; }
  section.carousel-1-section .carousel-1 .carousel-control-prev-icon {
    background-image: url("/img/arrow-leftx2.png");
    width: 12px; }
  section.carousel-1-section .carousel-1 .carousel-item {
    padding: 0 0 25px 0; }
    section.carousel-1-section .carousel-1 .carousel-item .item-container {
      height: 400px;
      max-width: 300px;
      padding: 34px;
      border-radius: 49px;
      -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35); }
    section.carousel-1-section .carousel-1 .carousel-item .icon {
      margin: 0 0 30px 0;
      width: 30px; }
    section.carousel-1-section .carousel-1 .carousel-item h2 {
      margin: 0 0 30px 0;
      font-size: 24px;
      font-weight: 700; }
      section.carousel-1-section .carousel-1 .carousel-item h2 span {
        color: #EF3024; }
    section.carousel-1-section .carousel-1 .carousel-item p {
      color: #7B7B7B;
      font-weight: 600;
      font-size: 15px; }

section.carousel1-tiles {
  padding: 0 60px;
  max-width: 1400px;
  margin: 100px 0 0 0;
  padding: 0 60px; }
  section.carousel1-tiles .row:first-of-type {
    margin-bottom: 50px; }
  section.carousel1-tiles .row .col {
    padding: 0 25px; }
  section.carousel1-tiles .item-container {
    max-width: 300px;
    padding: 34px;
    border-radius: 49px;
    -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35); }
  section.carousel1-tiles .icon {
    margin: 0 0 30px 0;
    width: 30px; }
  section.carousel1-tiles h2 {
    margin: 0 0 30px 0;
    font-size: 24px;
    font-weight: 700; }
    section.carousel1-tiles h2 span {
      color: #EF3024; }
  section.carousel1-tiles p {
    color: #7B7B7B;
    font-weight: 600;
    font-size: 15px; }

@media (min-width: 992px) {
  section.carousel1-tiles {
    margin: 150px 0 0 0;
    padding: 0 140px; }
    section.carousel1-tiles .row:first-of-type {
      margin-bottom: 70px; }
    section.carousel1-tiles .row .col {
      padding: 0 35px; } }
@media (min-width: 1200px) {
  section.carousel1-tiles {
    margin: 150px auto 0 auto; }
    section.carousel1-tiles .row:first-of-type {
      margin-bottom: 100px; }
    section.carousel1-tiles .row .col {
      padding: 0 50px; } }
@media (min-width: 1400px) {
  section.carousel1-tiles {
    padding: 0 60px;
    justify-content: space-between !important; } }
@media (min-width: 1580px) {
  section.carousel1-tiles {
    padding: 0; } }
section.confirm-your-presence {
  margin: 50px 0 0 0;
  max-width: 1400px;
  padding: 0 35px; }
  section.confirm-your-presence img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 0 64px 0; }
  section.confirm-your-presence section.take-action p {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 50px 0; }
  section.confirm-your-presence section.take-action .buy-a-ticket {
    margin: 0;
    border: 3px solid #EF3024;
    background: #EF3024;
    text-align: center;
    color: #fff;
    padding: 11px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    transition: all ease-in-out 0.2s; }
    section.confirm-your-presence section.take-action .buy-a-ticket:hover, section.confirm-your-presence section.take-action .buy-a-ticket:active {
      border: 3px solid #EF3024;
      background: #FFFFFF;
      color: #EF3024;
      outline: none; }

@media (min-width: 576px) {
  section.confirm-your-presence {
    padding: 0 35px;
    margin: 50px 0 0 0; }
    section.confirm-your-presence section.take-action {
      text-align: center; }
      section.confirm-your-presence section.take-action p {
        padding: 0 100px; } }
@media (min-width: 768px) {
  section.confirm-your-presence {
    padding: 0 60px;
    margin: 100px 0 0 0; }
    section.confirm-your-presence section.take-action {
      text-align: left;
      padding: 0 50px 0 0; }
      section.confirm-your-presence section.take-action p {
        padding: 0; }
      section.confirm-your-presence section.take-action .buy-a-ticket {
        margin: 0;
        border: 3px solid #EF3024;
        background: #EF3024;
        text-align: center;
        color: #fff;
        padding: 11px 30px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 50px;
        transition: all ease-in-out 0.2s; }
        section.confirm-your-presence section.take-action .buy-a-ticket:hover, section.confirm-your-presence section.take-action .buy-a-ticket:active {
          border: 3px solid #EF3024;
          background: #FFFFFF;
          color: #EF3024;
          outline: none; } }
@media (min-width: 992px) {
  section.confirm-your-presence {
    padding: 0 90px;
    margin: 150px 0 0 0; } }
@media (min-width: 1200px) {
  section.confirm-your-presence section.take-action p {
    font-size: 30px;
    max-width: 600px; }
  section.confirm-your-presence section.take-action .buy-a-ticket {
    margin: 0;
    border: 3px solid #EF3024;
    background: #EF3024;
    text-align: center;
    color: #fff;
    padding: 11px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    transition: all ease-in-out 0.2s; }
    section.confirm-your-presence section.take-action .buy-a-ticket:hover, section.confirm-your-presence section.take-action .buy-a-ticket:active {
      border: 3px solid #EF3024;
      background: #FFFFFF;
      color: #EF3024;
      outline: none; } }
@media (min-width: 1580px) {
  section.confirm-your-presence {
    padding: 0; } }
section.they-will-perform {
  margin: 50px 0 0 0; }
  section.they-will-perform div.heading {
    padding: 0 35px;
    margin: 0 0 62px 0; }
    section.they-will-perform div.heading h2 {
      font-size: 16px;
      color: #EF3024;
      font-weight: 700; }
    section.they-will-perform div.heading h3 {
      font-size: 30px;
      font-weight: 700;
      margin: 0; }
      section.they-will-perform div.heading h3 span {
        color: #EF3024; }
  section.they-will-perform .carousel-2 {
    padding: 0 50px; }
    section.they-will-perform .carousel-2 a.carousel-control-prev {
      height: 75%; }
    section.they-will-perform .carousel-2 a.carousel-control-next {
      height: 75%; }
    section.they-will-perform .carousel-2 .carousel-control-next-icon {
      background-image: url("/img/arrow-rightx2.png");
      width: 12px; }
    section.they-will-perform .carousel-2 .carousel-control-prev-icon {
      background-image: url("/img/arrow-leftx2.png");
      width: 12px; }
    section.they-will-perform .carousel-2 .carousel-item {
      max-width: 340px; }
      section.they-will-perform .carousel-2 .carousel-item img {
        width: 100%;
        margin: 0 0 30px 0;
        max-width: 340px; }
      section.they-will-perform .carousel-2 .carousel-item .person-name {
        font-size: 17px;
        font-weight: 700; }
      section.they-will-perform .carousel-2 .carousel-item .company-name {
        font-size: 12px;
        color: #EF3024;
        font-weight: 600;
        margin: 0 0 33px 0; }
  section.they-will-perform .see-everyone {
    margin: 0;
    border: 3px solid #EF3024;
    background: #EF3024;
    text-align: center;
    color: #fff;
    padding: 11px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    transition: all ease-in-out 0.2s; }
    section.they-will-perform .see-everyone:hover, section.they-will-perform .see-everyone:active {
      border: 3px solid #EF3024;
      background: #FFFFFF;
      color: #EF3024;
      outline: none; }

@media (min-width: 1200px) {
  section.they-will-perform div.heading h2 {
    font-size: 20px; }
  section.they-will-perform div.heading h3 {
    font-size: 48px; } }
section.they-will-perform-md {
  padding: 0 60px;
  max-width: 1400px;
  margin: 100px 0 0 0; }
  section.they-will-perform-md div.container-fluid div.row div.heading-col {
    padding-bottom: 50px; }
  section.they-will-perform-md div.heading {
    padding: 0 35px;
    padding-left: 35%;
    margin: 0 0 50px 0; }
    section.they-will-perform-md div.heading h2 {
      font-size: 16px;
      color: #EF3024;
      font-weight: 700; }
    section.they-will-perform-md div.heading h3 {
      font-size: 30px;
      font-weight: 700;
      margin: 0; }
      section.they-will-perform-md div.heading h3 span {
        color: #EF3024; }
  section.they-will-perform-md .item-container {
    max-width: 340px;
    margin: 0 0 50px 0; }
    section.they-will-perform-md .item-container img.person-img {
      width: 100%;
      margin: 0 0 30px 0; }
    section.they-will-perform-md .item-container .person-name {
      font-size: 17px;
      font-weight: 700; }
    section.they-will-perform-md .item-container .company-name {
      font-size: 12px;
      color: #EF3024;
      font-weight: 600; }
  section.they-will-perform-md .see-everyone {
    margin: 0;
    border: 3px solid #EF3024;
    background: #EF3024;
    text-align: center;
    color: #fff;
    padding: 11px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    transition: all ease-in-out 0.2s; }
    section.they-will-perform-md .see-everyone:hover, section.they-will-perform-md .see-everyone:active {
      border: 3px solid #EF3024;
      background: #FFFFFF;
      color: #EF3024;
      outline: none; }

@media (min-width: 992px) {
  section.they-will-perform-md {
    margin: 150px 0 0 0;
    padding: 0 90px; }
    section.they-will-perform-md div.heading h2 {
      font-size: 16px;
      color: #EF3024;
      font-weight: 700; }
    section.they-will-perform-md div.heading h3 {
      font-size: 30px;
      font-weight: 700;
      margin: 0; }
      section.they-will-perform-md div.heading h3 span {
        color: #EF3024; }
    section.they-will-perform-md .item-container {
      margin: 0 0 80px 0; } }
@media (min-width: 1200px) {
  section.they-will-perform-md {
    margin: 150px 0 0 0; } }
@media (min-width: 1580px) {
  section.they-will-perform-md {
    padding: 0; } }
section.year-ago-video {
  margin: 50px 0 0 0;
  padding: 0 35px;
  max-width: 1360px; }
  section.year-ago-video div.heading h2 {
    font-size: 16px;
    color: #EF3024;
    font-weight: 700; }
  section.year-ago-video div.heading h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0; }
    section.year-ago-video div.heading h3 span {
      color: #EF3024; }
  section.year-ago-video img {
    width: 100%; }

@media (min-width: 576px) {
  section.year-ago-video {
    padding: 0 35px;
    margin: 50px 0 0 0; } }
@media (min-width: 768px) {
  section.year-ago-video {
    padding: 0 60px;
    margin: 100px 0 0 0; } }
@media (min-width: 1200px) {
  section.year-ago-video {
    padding: 0 90px;
    margin: 150px 0 0 0; }
    section.year-ago-video div.heading h2 {
      font-size: 20px; }
    section.year-ago-video div.heading h3 {
      font-size: 48px; } }
@media (min-width: 1580px) {
  section.year-ago-video {
    padding: 0; } }
section.next-edition-schedule {
  margin: 50px 0 0 0;
  padding: 0 35px;
  max-width: 1400px; }
  section.next-edition-schedule img.schedule {
    display: block;
    max-width: 550px;
    margin: 0 0 64px 0;
    width: 100%; }
  section.next-edition-schedule section.take-action h2 {
    font-size: 16px;
    color: #EF3024;
    font-weight: 700; }
  section.next-edition-schedule section.take-action h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0; }
    section.next-edition-schedule section.take-action h3 span {
      color: #EF3024; }
  section.next-edition-schedule section.take-action .first-day {
    margin: 0;
    border: 3px solid #EF3024;
    background: #EF3024;
    text-align: center;
    color: #fff;
    padding: 11px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    transition: all ease-in-out 0.2s;
    margin: 0 20px 20px 0; }
    section.next-edition-schedule section.take-action .first-day:hover, section.next-edition-schedule section.take-action .first-day:active {
      border: 3px solid #EF3024;
      background: #FFFFFF;
      color: #EF3024;
      outline: none; }
  section.next-edition-schedule section.take-action .second-day {
    margin: 0;
    border: 3px solid #EF3024;
    background: #FFFFFF;
    color: #EF3024;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    transition: all ease-in-out 0.2s;
    width: 171px; }
    section.next-edition-schedule section.take-action .second-day:hover, section.next-edition-schedule section.take-action .second-day:active {
      background: #EF3024;
      color: #FFFFFF;
      outline: none; }

@media (min-width: 576px) {
  section.next-edition-schedule {
    margin: 50px 0 0 0;
    padding: 0 35px; } }
@media (min-width: 768px) {
  section.next-edition-schedule {
    padding: 0 60px;
    margin: 100px 0 0 0; }
    section.next-edition-schedule .container-fluid .row div img.schedule {
      margin: 0;
      max-width: initial; }
    section.next-edition-schedule .container-fluid .row div.col-take-action {
      padding: 0 50px 0 0; }
      section.next-edition-schedule .container-fluid .row div.col-take-action section.take-action {
        text-align: left;
        padding: 0 0 0 0; } }
@media (min-width: 992px) {
  section.next-edition-schedule {
    margin: 150px 0 0 0;
    padding: 0 90px; } }
@media (min-width: 1200px) {
  section.next-edition-schedule section.take-action h2 {
    font-size: 20px; }
  section.next-edition-schedule section.take-action h3 {
    font-size: 48px;
    margin: 0 0 50px 0; }
  section.next-edition-schedule section.take-action nav.buttons button {
    margin-bottom: 0; } }
@media (min-width: 1580px) {
  section.next-edition-schedule {
    padding: 0; } }
section.opinions {
  padding: 0 35px;
  margin: 50px 0 0 0; }
  section.opinions div.heading {
    padding: 0 35px; }
    section.opinions div.heading h2 {
      font-size: 16px;
      color: #EF3024;
      font-weight: 700; }
    section.opinions div.heading h3 {
      font-size: 30px;
      font-weight: 700;
      margin: 0 0 30px 0; }
      section.opinions div.heading h3 span {
        color: #EF3024; }
  section.opinions .carousel-3 .carousel-inner {
    margin-bottom: 12px; }
    section.opinions .carousel-3 .carousel-inner .item-container {
      height: 450px;
      max-width: 300px;
      padding: 34px;
      border-radius: 49px;
      -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35); }
      section.opinions .carousel-3 .carousel-inner .item-container .icon {
        margin: 0 0 30px 0;
        width: 60px; }
      section.opinions .carousel-3 .carousel-inner .item-container span.person-name {
        display: block;
        margin: 0 0 5px 0;
        font-size: 24px;
        font-weight: 700; }
      section.opinions .carousel-3 .carousel-inner .item-container span.company-name {
        display: block;
        color: #EF3024;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 30px; }
      section.opinions .carousel-3 .carousel-inner .item-container p {
        color: #7B7B7B;
        font-weight: 600;
        font-size: 15px; }
  section.opinions .carousel-control-next-icon {
    background-image: url("/img/arrow-rightx2.png");
    width: 14px; }
  section.opinions .carousel-control-prev-icon {
    background-image: url("/img/arrow-point-to-left (2).png");
    width: 14px; }
  section.opinions .carousel-item {
    padding: 25px 0 25px 0; }

@media (min-width: 576px) {
  section.opinions {
    padding: 0 35px;
    margin: 50px 0 0 0; } }
@media (min-width: 1200px) {
  section.opinions div.heading h2 {
    font-size: 20px; }
  section.opinions div.heading h3 {
    font-size: 48px; } }
section.opinions-md {
  padding: 0 35px;
  margin: 50px 0 0 0;
  max-width: 1400px; }
  section.opinions-md div.heading {
    width: 300px;
    padding: 130px 0 0 34px; }
    section.opinions-md div.heading h2 {
      font-size: 16px;
      color: #EF3024;
      font-weight: 700; }
    section.opinions-md div.heading h3 {
      font-size: 30px;
      font-weight: 700;
      margin: 0 0 30px 0; }
      section.opinions-md div.heading h3 span {
        color: #EF3024; }
  section.opinions-md .opinions-md-item {
    height: 450px;
    max-width: 300px;
    padding: 34px;
    border-radius: 49px;
    -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35); }
    section.opinions-md .opinions-md-item .icon {
      margin: 0 0 30px 0;
      width: 60px; }
    section.opinions-md .opinions-md-item span.person-name {
      display: block;
      margin: 0 0 5px 0;
      font-size: 24px;
      font-weight: 700; }
    section.opinions-md .opinions-md-item span.company-name {
      display: block;
      color: #EF3024;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 30px; }
    section.opinions-md .opinions-md-item p {
      color: #7B7B7B;
      font-weight: 600;
      font-size: 15px; }

@media (min-width: 768px) {
  section.opinions-md {
    padding: 0 60px;
    margin: 100px 0 0 0; }
    section.opinions-md div.container-fluid {
      max-width: 650px; }
      section.opinions-md div.container-fluid div.row .col-md-6 {
        padding: 0 25px 0 25px;
        margin: 0 0 50px 0; } }
@media (min-width: 992px) {
  section.opinions-md {
    padding: 0 90px;
    margin: 150px 0 0 0; }
    section.opinions-md div.heading {
      margin: 0 0 30px 0;
      padding: 130px 0 0 34px; }
      section.opinions-md div.heading h2 {
        font-size: 16px;
        color: #EF3024;
        font-weight: 700; }
      section.opinions-md div.heading h3 {
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 30px 0; }
        section.opinions-md div.heading h3 span {
          color: #EF3024; }
    section.opinions-md .opinions-md-item div.container-fluid div.row .col-md-6 {
      padding: 0 35px 0 35px;
      margin: 0 0 70px 0; } }
@media (min-width: 1200px) {
  section.opinions-md div.container-fluid {
    max-width: 1400px; }
    section.opinions-md div.container-fluid div.row .col-md-6:nth-of-type(4) {
      position: relative;
      bottom: 250px; }
    section.opinions-md div.container-fluid div.row .col-md-6:nth-of-type(7) {
      position: relative;
      bottom: 250px; }
    section.opinions-md div.container-fluid div.row .col-md-6:nth-of-type(3) {
      position: relative;
      top: 250px; }
    section.opinions-md div.container-fluid div.row .col-md-6:nth-of-type(6) {
      position: relative;
      top: 250px; }
  section.opinions-md div.heading {
    padding: 0; }
    section.opinions-md div.heading h2 {
      font-size: 20px; }
    section.opinions-md div.heading h3 {
      font-size: 48px; } }
@media (min-width: 1400px) {
  section.opinions-md div.container-fluid {
    max-width: 1400px; }
    section.opinions-md div.container-fluid div.row .col-md-6 {
      margin: 0 0 100px 0; }
    section.opinions-md div.container-fluid div.row .col-md-6:nth-of-type(1) {
      margin: 0 0 0 0; } }
section.join-today {
  margin: 50px 0 0 0;
  padding: 0 35px;
  max-width: 1400px; }
  section.join-today img.envelope-img {
    width: 100%;
    max-width: 550px;
    margin: 0 0 40px 0; }
  section.join-today section.take-action {
    text-align: center; }
  section.join-today h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 40px 0; }
  section.join-today .buy-a-ticket {
    margin: 0;
    border: 3px solid #EF3024;
    background: #EF3024;
    text-align: center;
    color: #fff;
    padding: 11px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    transition: all ease-in-out 0.2s; }
    section.join-today .buy-a-ticket:hover, section.join-today .buy-a-ticket:active {
      border: 3px solid #EF3024;
      background: #FFFFFF;
      color: #EF3024;
      outline: none; }

@media (min-width: 576px) {
  section.join-today {
    margin: 50px 0 0 0;
    padding: 0 35px; } }
@media (min-width: 768px) {
  section.join-today {
    padding: 0 60px;
    margin: 100px 0 0 0; }
    section.join-today img.envelope-img {
      margin: 0 0 0 0;
      max-width: initial; }
    section.join-today section.take-action {
      margin: 0 0 0 0;
      text-align: left;
      padding: 0 0 0 0;
      width: 300px; }
    section.join-today div.col-md-6:nth-of-type(2) {
      padding-left: 5%; } }
@media (min-width: 992px) {
  section.join-today {
    margin: 150px 0 0 0;
    padding: 0 90px; } }
@media (min-width: 1200px) {
  section.join-today section.take-action {
    width: auto;
    max-width: 545px; }
    section.join-today section.take-action h2 {
      font-size: 30px; } }
@media (min-width: 1580px) {
  section.join-today {
    padding: 0; } }
section.year-ago-pictures {
  margin: 0 0 100px 0;
  max-width: 1400px;
  margin: 50px 0 0 0; }
  section.year-ago-pictures div.heading {
    padding: 0 35px;
    margin: 0 0 30px 0; }
    section.year-ago-pictures div.heading h2 {
      font-size: 16px;
      color: #EF3024;
      font-weight: 700; }
    section.year-ago-pictures div.heading h3 {
      font-size: 30px;
      font-weight: 700;
      margin: 0; }
      section.year-ago-pictures div.heading h3 span {
        color: #EF3024; }
  section.year-ago-pictures div.carousel-4 div.carousel-inner div.carousel-item img {
    max-width: 100%; }
  section.year-ago-pictures div.carousel-4 a.carousel-control-prev {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,3e3e3e+0&1+0,0+100,0+100 */
    background: -moz-linear-gradient(left, #3e3e3e 0%, rgba(62, 62, 62, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3e3e3e 0%, rgba(62, 62, 62, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3e3e3e 0%, rgba(62, 62, 62, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#003e3e3e',GradientType=1 );
    /* IE6-9 */ }
    section.year-ago-pictures div.carousel-4 a.carousel-control-prev span.carousel-control-prev-icon {
      width: 14px;
      background-image: url("/img/arrow-point-to-left-year-ago-pictures2x.png"); }
  section.year-ago-pictures div.carousel-4 a.carousel-control-next {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,3e3e3e+0&1+0,0+100,0+100 */
    background: -moz-linear-gradient(right, #3e3e3e 0%, rgba(62, 62, 62, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(right, #3e3e3e 0%, rgba(62, 62, 62, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, #3e3e3e 0%, rgba(62, 62, 62, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#003e3e3e',GradientType=1 );
    /* IE6-9 */ }
    section.year-ago-pictures div.carousel-4 a.carousel-control-next span.carousel-control-next-icon {
      width: 14px;
      background-image: url("/img/arrow-point-to-right-year-ago-pictures2x.png"); }

@media (min-width: 576px) {
  section.year-ago-pictures {
    margin: 50px 0 0 0; }
    section.year-ago-pictures div.heading {
      padding: 0 35px; } }
@media (min-width: 768px) {
  section.year-ago-pictures {
    margin: 100px 0 0 0; }
    section.year-ago-pictures div.heading {
      padding: 0 60px; } }
@media (min-width: 992px) {
  section.year-ago-pictures {
    margin: 150px 0 0 0; }
    section.year-ago-pictures div.heading {
      padding: 0 90px; } }
@media (min-width: 1200px) {
  section.year-ago-pictures div.heading h2 {
    font-size: 20px; }
  section.year-ago-pictures div.heading h3 {
    font-size: 48px; }
  section.year-ago-pictures #carousel4-over1200 .row:first-of-type {
    padding: 0 0 20px 0; }
  section.year-ago-pictures #carousel4-over1200 .col-1 {
    padding: 0 10px 0 0; }
  section.year-ago-pictures #carousel4-over1200 .col-2 {
    padding: 0 0 0 10px; }
  section.year-ago-pictures #carousel4-over1200 .col-3 {
    padding: 0 10px 0 0; }
  section.year-ago-pictures #carousel4-over1200 .col-4 {
    padding: 0 10px 0 10px; }
  section.year-ago-pictures #carousel4-over1200 .col-5 {
    padding: 0 0 0 10px; } }
@media (min-width: 1580px) {
  section.year-ago-pictures div.heading {
    padding: 0; } }
section.conference-location {
  margin: 50px 0 0 0;
  max-width: 1400px; }
  section.conference-location div.heading {
    padding: 0 35px; }
    section.conference-location div.heading h2 {
      font-size: 16px;
      color: #EF3024;
      font-weight: 700; }
    section.conference-location div.heading h3 {
      font-size: 30px;
      font-weight: 700; }
      section.conference-location div.heading h3 span {
        color: #EF3024; }
  section.conference-location .logo-col {
    padding: 50px 0; }
  section.conference-location img.logo {
    width: 150px; }
  section.conference-location img.depot-article-header-img {
    width: 100%; }
  section.conference-location div.article-txt {
    background: #ffffff;
    width: 90%;
    padding: 30px 50px 30px 30px;
    position: relative;
    bottom: 40px; }
    section.conference-location div.article-txt p {
      color: #7B7B7B;
      font-size: 12px;
      font-weight: 600;
      line-height: 3; }
      section.conference-location div.article-txt p span {
        font-size: 20px;
        font-weight: 700; }
  section.conference-location nav.conference-location-nav button.learn-more {
    margin: 0;
    border: 3px solid #EF3024;
    background: #EF3024;
    text-align: center;
    color: #fff;
    padding: 11px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    transition: all ease-in-out 0.2s;
    margin: 0 0 22px 0; }
    section.conference-location nav.conference-location-nav button.learn-more:hover, section.conference-location nav.conference-location-nav button.learn-more:active {
      border: 3px solid #EF3024;
      background: #FFFFFF;
      color: #EF3024;
      outline: none; }
  section.conference-location nav.conference-location-nav button.how-to-get {
    margin: 0;
    border: 3px solid #EF3024;
    background: #FFFFFF;
    color: #EF3024;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    transition: all ease-in-out 0.2s; }
    section.conference-location nav.conference-location-nav button.how-to-get:hover, section.conference-location nav.conference-location-nav button.how-to-get:active {
      background: #EF3024;
      color: #FFFFFF;
      outline: none; }

@media (min-width: 576px) {
  section.conference-location {
    margin: 50px 0 0 0; } }
@media (min-width: 768px) {
  section.conference-location {
    margin: 100px 0 0 0;
    padding: 0 60px; }
    section.conference-location div.heading {
      padding: 0; }
    section.conference-location .logo-col {
      padding: 80px 0; }
    section.conference-location div.article-txt {
      width: 100%;
      position: initial; }
    section.conference-location .nav-row {
      margin: 80px 0 0 0; } }
@media (min-width: 992px) {
  section.conference-location {
    margin: 150px 0 0 0;
    padding: 0 90px; }
    section.conference-location div.heading {
      padding: 0; }
    section.conference-location .nav-row {
      margin: 90px 0 0 0; } }
@media (min-width: 1200px) {
  section.conference-location div.heading h2 {
    font-size: 20px; }
  section.conference-location div.heading h3 {
    font-size: 48px; } }
@media (min-width: 1580px) {
  section.conference-location {
    padding: 0; }
    section.conference-location .logo-col {
      display: none !important; }
    section.conference-location .logo-col-over-1580 {
      display: flex !important; }
    section.conference-location .old-depot-article {
      height: 530px;
      width: 130%;
      position: relative;
      left: -180px;
      bottom: -11px;
      padding: 90px 0 90px 90px;
      background: #ffffff; }
    section.conference-location div.heading h3 {
      margin-bottom: 100px; }
    section.conference-location .nav-row {
      position: relative;
      left: 655px;
      bottom: 100px;
      display: block;
      width: 566px;
      margin: 0; } }
section.sponsors {
  padding: 0 35px;
  margin: 50px 0 0 0;
  max-width: 1400px; }
  section.sponsors div.heading h2 {
    font-size: 16px;
    color: #EF3024;
    font-weight: 700; }
  section.sponsors div.heading h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 50px 0; }
    section.sponsors div.heading h3 span {
      color: #EF3024; }
    section.sponsors div.heading h3 span {
      font-size: 30px; }
  section.sponsors span {
    color: #EF3024;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.1; }
  section.sponsors .logo-container {
    border-radius: 100%;
    -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.35); }
  section.sponsors .gold-organizer-row span {
    margin: 0 0 60px 0; }
  section.sponsors .gold-organizer-row .col-sm-12 {
    margin: 0 0 90px 0; }
  section.sponsors section.gold-sponsor .santander-logo-container {
    width: 290px;
    height: 290px; }
    section.sponsors section.gold-sponsor .santander-logo-container img {
      width: 284px; }
  section.sponsors section.organizer .organizer-logo-container {
    width: 250px;
    height: 250px; }
    section.sponsors section.organizer .organizer-logo-container img {
      width: 135px; }
  section.sponsors section.rest-of-sponsors {
    margin: 0 0 100px 0; }
    section.sponsors section.rest-of-sponsors span {
      display: block;
      margin: 0 0 60px 0; }
    section.sponsors section.rest-of-sponsors .sponsor-logo-container {
      width: 185px;
      height: 185px; }
      section.sponsors section.rest-of-sponsors .sponsor-logo-container img {
        width: 115px; }
    section.sponsors section.rest-of-sponsors .row .col-sm-12 {
      margin: 0 0 45px 0; }
  section.sponsors section.logo-triangle-layout {
    margin: 0 0 100px 0; }
    section.sponsors section.logo-triangle-layout span {
      display: block;
      margin: 0 0 60px 0; }
    section.sponsors section.logo-triangle-layout div.row .col {
      padding-right: 5px;
      padding-left: 5px; }
      section.sponsors section.logo-triangle-layout div.row .col .patron-logo-container {
        width: 125px;
        height: 125px;
        margin: 0 0 50px 0; }
        section.sponsors section.logo-triangle-layout div.row .col .patron-logo-container img {
          width: 85px; }
    section.sponsors section.logo-triangle-layout div.row .second-col {
      padding-top: 85px; }

@media (min-width: 576px) {
  section.sponsors {
    margin: 50px 0 0 0;
    padding: 0 35px; } }
@media (min-width: 768px) {
  section.sponsors {
    margin: 100px 0 0 0;
    padding: 0 60px; }
    section.sponsors section.rest-of-sponsors .row .first-col {
      padding: 0 22px 0 0; }
    section.sponsors section.rest-of-sponsors .row .second-col {
      padding: 0 0 0 22px; }
    section.sponsors section.rest-of-sponsors .row .col-sm-12 {
      margin: 0 0 15px 0; } }
@media (min-width: 992px) {
  section.sponsors {
    margin: 150px 0 150px 0;
    padding: 0 90px; }
    section.sponsors div.heading h3 {
      font-size: 30px;
      font-weight: 700;
      margin: 0 0 80px 0; }
    section.sponsors section.gold-sponsor {
      width: 340px; }
    section.sponsors section.organizer span {
      position: relative;
      bottom: 19px;
      width: 300px; }
    section.sponsors .gold-organizer-row .col-sm-12 {
      margin: 0 0 100px 0; }
    section.sponsors .gold-organizer-row span {
      margin: 0 0 30px 0; }
    section.sponsors .lg-row .col {
      height: 250px; }
      section.sponsors .lg-row .col .logo-container {
        margin: 0 !important; }
    section.sponsors .media-partners.logo-triangle-layout {
      margin: 0 0 0 0; }
      section.sponsors .media-partners.logo-triangle-layout .lg-row .col {
        height: 200px; }
      section.sponsors .media-partners.logo-triangle-layout .second-row {
        position: relative;
        bottom: 40px; }
      section.sponsors .media-partners.logo-triangle-layout .third-row {
        position: relative;
        bottom: 80px; } }
@media (min-width: 1200px) {
  section.sponsors div.heading h2 {
    font-size: 20px; }
  section.sponsors div.heading h3 {
    font-size: 48px;
    margin: 0 0 120px 0; }
  section.sponsors span {
    font-size: 20px; }
  section.sponsors .gold-sponsor-col {
    padding: 0 47px 0 0; }
    section.sponsors .gold-sponsor-col section.gold-sponsor .logo-container {
      width: 390px;
      height: 390px; }
  section.sponsors section.gold-sponsor {
    width: 440px; }
  section.sponsors section.organizer {
    width: 380px; }
  section.sponsors section.organizer span {
    bottom: 30px; }
  section.sponsors .organizer-col {
    padding: 0 0 0 47px; }
    section.sponsors .organizer-col section.organizer .logo-container {
      width: 330px;
      height: 330px; }
  section.sponsors section.rest-of-sponsors .sponsor-logo-container {
    width: 285px;
    height: 285px; } }
section.contact {
  background: #FEF4F3;
  padding: 55px 35px; }
  section.contact .row {
    max-width: 1400px; }
  section.contact p.para {
    color: #7B7B7B;
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 35px 0;
    line-height: 2.4; }
  section.contact article.stay-in-touch {
    margin: 0 0 30px 0;
    max-width: 1400px; }
    section.contact article.stay-in-touch div.heading h2 {
      font-size: 16px;
      color: #EF3024;
      font-weight: 700; }
    section.contact article.stay-in-touch div.heading h3 {
      font-size: 30px;
      font-weight: 700;
      margin: 0 0 30px 0; }
      section.contact article.stay-in-touch div.heading h3 span {
        color: #EF3024; }
  section.contact section.social-media {
    margin: 0 0 70px 0;
    height: 40px; }
    section.contact section.social-media a img {
      width: 20px;
      transition: all ease-in-out 0.3s; }
    section.contact section.social-media a:hover img {
      width: 24px; }
  section.contact section.newsletter {
    max-width: 1400px; }
    section.contact section.newsletter h3 {
      font-size: 30px;
      font-weight: 700;
      margin: 0 0 45px 0; }
      section.contact section.newsletter h3 span {
        color: #EF3024; }
    section.contact section.newsletter input.user-email {
      border: none;
      outline: none;
      width: 100%;
      max-width: 400px;
      border-radius: 100px;
      padding: 18px 0;
      margin: 0 0 30px 0;
      text-indent: 27px;
      font-size: 14px;
      font-weight: 600;
      -webkit-box-shadow: 10px 10px 9px 0px #fee6e4;
      -moz-box-shadow: 10px 10px 9px 0px #fee6e4;
      box-shadow: 10px 10px 9px 0px #fee6e4; }
      section.contact section.newsletter input.user-email::placeholder {
        font-size: 14px;
        font-weight: 600;
        text-indent: 27px; }
    section.contact section.newsletter button.sign-in {
      margin: 0;
      border: 3px solid #EF3024;
      background: #EF3024;
      text-align: center;
      color: #fff;
      padding: 11px 30px;
      font-size: 14px;
      font-weight: 700;
      border-radius: 50px;
      transition: all ease-in-out 0.2s;
      padding: 13px 45px;
      margin: 0 0 40px 0; }
      section.contact section.newsletter button.sign-in:hover, section.contact section.newsletter button.sign-in:active {
        border: 3px solid #EF3024;
        background: #FFFFFF;
        color: #EF3024;
        outline: none; }
    section.contact section.newsletter p {
      opacity: 50%;
      color: #7B7B7B;
      font-size: 12px;
      font-weight: 600;
      margin: 0;
      opacity: 0.6;
      line-height: 2; }

@media (min-width: 768px) {
  section.contact {
    padding: 60px; }
    section.contact section.social-media {
      max-width: 75%; }
    section.contact p.para {
      max-width: 85%; }
    section.contact section.newsletter input.user-email {
      max-width: 500px; }
    section.contact section.newsletter p {
      max-width: 85%; } }
@media (min-width: 992px) {
  section.contact {
    padding: 90px; } }
@media (min-width: 1200px) {
  section.contact article.stay-in-touch div.heading h3 {
    margin: 0 0 45px 0; }
  section.contact article.stay-in-touch p.para {
    margin: 0 0 45px 0; }
  section.contact section.newsletter h2 {
    font-size: 16px;
    color: #EF3024;
    font-weight: 700;
    color: transparent; }
  section.contact section.newsletter h3 {
    margin: 0 0 45px 0; }
  section.contact section.newsletter p {
    max-width: 100%; }
  section.contact section.newsletter button.sign-in {
    margin: 0 0 45px 0; } }
@media (min-width: 1500px) {
  section.contact article.stay-in-touch div.heading h2 {
    font-size: 20px; }
  section.contact article.stay-in-touch div.heading h3 {
    font-size: 48px; }
  section.contact article.stay-in-touch p.para {
    font-size: 18px;
    line-height: 1.8; }
  section.contact section.newsletter h2 {
    font-size: 20px; }
  section.contact section.newsletter h3 {
    font-size: 48px; } }
footer {
  text-transform: uppercase;
  color: #7B7B7B;
  font-weight: 700;
  text-align: center;
  padding: 50px 0; }
  footer h2 {
    font-size: 14px;
    font-weight: 700; }
    footer h2 a:link, footer h2 a:visited, footer h2 a:hover, footer h2 a:active {
      color: #EF3024;
      text-decoration: none; }
  footer nav a:link, footer nav a:visited, footer nav a:hover, footer nav a:active {
    font-size: 12px;
    color: #7B7B7B;
    padding: 10px 5px;
    text-decoration: none; }
  footer nav a:hover, footer nav a:active {
    color: #EF3024; }

@media (min-width: 576px) {
  footer {
    padding: 60px 0; } }
@media (min-width: 768px) {
  footer {
    padding: 70px 0; } }
@media (min-width: 992px) {
  footer {
    padding: 80px 0; } }
* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
