//Imports
@import 'var';
@import 'mixins';
@import 'header';
@import 'side-nav';
@import 'navbar';
@import 'about';
@import 'is-it-worth-investing';
@import 'carousel-1';
@import 'carousel1-tiles';
@import 'confirm-your-presence';
@import 'they-will-perform';
@import 'they-will-perform-md';
@import 'year-ago-video';
@import 'next-edition-schedule';
@import 'opinions';
@import 'opinions-md';
@import 'join-today';
@import 'year-ago-pictures';
@import 'conference-location';
@import 'sponsors';
@import 'contact';
@import 'footer';

*, figure {
    font-family: 'Poppins', sans-serif;  
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
