.about {
    max-width: 1400px;
    padding: $sec-padding-sm;
    margin: $sec-margin-sm;
    div.img-container {
        margin: 0 0 40px 0;
        img.speaking-lady {
            max-width: 500px;
            width: 85%;
        }
        div.question-mark-container {
            span.big-question-mark {
                display: none;
            }
        }
    }
    section.txt {
        h2 {
            font-size: 16px;
            font-weight: 700;
            color: $logo-red;
            margin: 0 0 10px 0;
        }
        h3 {
            font-weight: 700;
            margin: 0 0 25px 0;
            font-size: 30px;
        }
        p {
            font-size: 12px;
            color: $content-txt-color;
            line-height: $line-height-xs;
            margin: 0;
            font-weight: 600;
        }
    }

}

// SM devices
@media (min-width: 576px) {
    .about {
        padding: $sec-padding-sm;
        margin: $sec-margin-sm;

        div.img-container { 
            img.speaking-lady {
                // margin: 30px 0 0 30px;
            }
            div.question-mark-container {
                margin-top: 30px;
                span.big-question-mark {
                    display: inline-block;
                    color: $logo-red;
                    font-size: 120px;
                    font-weight: 700;
                }
            }
        }
    }
 }

 // MD devices
@media (min-width: 768px) {
    .about {
        padding: $sec-padding-md;
        margin: $sec-margin-md;
        div.img-container { 
            margin: 0;
            img.speaking-lady {
                width: 90%;
                max-width: 720px;
                margin: 0;
            }
            div.question-mark-container {
                span.big-question-mark {
                    display: none;
                }
            }
        }
        section.txt {
            padding: 0;
        }
    }
 }

// LG devices
 @media (min-width: 992px) { 
    .about {
        padding: $sec-padding-lg;
        margin: $sec-margin-lg;
     }
  }

// XL devices
 @media (min-width: 1200px) {
     .about {
        section.txt {
            h2 {
                font-size: 20px;
            }
            h3 {
                font-size: 48px;
            }
            p {
                font-size: 18px;
            }
        }
     }
  }

// I'm reseting left end right padding(180px together) in section.about on 1580px, becose I want max-width
// of this section content to be 1400px. Section max-width is set to 1400px so i need to reset padding on 1580px(1580 - 180 = 1400)
  @media (min-width: 1580px) {
    .about {
        padding: 0;
    }
 }
