.is-it-worth-investing {
    margin: $sec-margin-sm;
    padding: $sec-padding-sm;
    max-width: 1400px;
    h2 {
        font-size: 16px;
        font-weight: 700;
        color: $logo-red;
        // padding: 0 35px;
        margin: 0 0 10px 0;
    }
    h3 {
        // padding: 0 35px;
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 67px 0;
        span {
            color: $logo-red;
        }
    }
    p {
        // padding: 0 35px;
        font-size: 12px;
        color: $content-txt-color;
        line-height: $line-height-xs;
        margin: 0;
    }
    ul.why {
        margin-bottom: 0;
        list-style-image: url(/img/arrow-left.png);
        .row {
            div.col-sm-12 {
                margin: 0 0 43px 0;
                // padding-right: 30px;
                &:last-of-type {
                    margin: 0;
                }
            }
        }
        li {
            font-size: 12px;
            color: $content-txt-color;
            padding: 0 0 0 18px;
            margin: 0 0 43px 0;
            font-weight: 600;
            &:last-of-type {
                margin: 0 0 0 0;
            }
        }
    }
}

// Small devices
@media (min-width: 576px) {
    .is-it-worth-investing {
        padding: $sec-padding-sm;
        margin: $sec-margin-sm;
    }
}

// Medium devices
@media (min-width: 768px) {
    .is-it-worth-investing {
        padding: $sec-padding-md;
        margin: $sec-margin-md;
        ul.why {
            .row {
                div.col-sm-12 {
                    padding-right: 30px;
                }
            }
        }
    }
}

// Large devices
@media (min-width: 992px) {
    .is-it-worth-investing {
        padding: $sec-padding-lg;
        margin: $sec-margin-lg;
    }
}

// XL devices
@media (min-width: 1200px) {
    .is-it-worth-investing {
        h2 {
            font-size: $h2-lg;
        }
        h3 {
            font-size: $h3-lg;
        }
        ul.why {
            li {
                font-size: 14px;
            }
        }
    }
}

// I'm reseting left end right padding(180px together) in section.is-it-worth-investing on 1580px, becose I want max-width
// of this section content to be 1400px. Section max-width is set to 1400px so i need to reset padding on 1580px(1580 - 180 = 1400)
@media (min-width: 1580px) {
    .is-it-worth-investing {
        padding: 0;
    }
}