$logo-red: #ef3024;
$white: #FFFFFF;
$txt-padding-xs: 0 20px 0 20px;
$content-txt-color: #7B7B7B;
$line-height-xs: 2.5;
$sec-padding-sm: 0 35px;
$sec-padding-md: 0 60px;
$sec-padding-lg: 0 90px;
$sec-margin-sm: 50px  0 0 0;
$sec-margin-md: 100px 0 0 0;
$sec-margin-lg: 150px 0 0 0;
$h2-lg: 20px;
$h2-xl: 30px;
$h3-lg: 48px;




